html,body{
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 1rem;
    font-family: "lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.section{
    background-image: url(img/tree.jpg);
    background-size: cover;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.heading {
    position: absolute;
    top: 52%;
    text-transform: uppercase;
    color: cornsilk;
    background-color: #313534;
    padding: 2%;
}

.section2 {
    padding: 4% 6%;
    background: #313534;
    color: white;
    text-align: center;
}
.section-one {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
}
.section3{
    background-image: url(img/tree2.jpg);
    background-size: cover;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading2 {
    position: absolute;
    top: 197%;
    text-transform: uppercase;
    color: cornsilk;
    background-color: #313534;
    padding: 2%;
}
.section4 {
    padding: 4% 6%;
    background: #313534;
    color: white;
    text-align: center;
}
.section5{
    background-image: url(img/tree3.jpg);
    background-size: cover;
    min-height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading3 {
    position: absolute;
    top: 332%;
    text-transform: uppercase;
    color: cornsilk;
    background-color: #313534;
    padding: 2%;
}
.section6 {
    padding: 4% 6%;
    background: #313534;
    color: white;
    text-align: center;
}
.section7{
    background-image: url(img/tree.jpg);
    background-size: cover;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading4{
    position: absolute;
    top: 500%;
    text-transform: uppercase;
    color: cornsilk;
    background-color: #313534;
    padding: 2%;
}

@media only screen and (max-width: 518px){
    .heading2 {
        position: absolute;
        top: 231%;
        text-transform: uppercase;
        color: cornsilk;
        background-color: #313534;
        padding: 2%;
    }
    .heading3 {
        position: absolute;
        top: 384%;
        width: 43%;
        padding: 1%;
    }
    .heading4{
        position: absolute;
        top: 550%;
        text-transform: uppercase;
        color: cornsilk;
        background-color: #313534;
        padding: 2%;
    }
}